{{#each registros}}
    <p>Data:{{this.data}}</p>
    <p>Hora:{{this.hora}}</p>
    <p>Latitude:{{this.latitude}}</p>
    <p>Longitude:{{this.longitude}}</p>
    <p>Caminho:{{this.imagem}}</p>
    
{{/each}}